.categories-container {
    display: flex;
    justify-content: center;
    gap: 70px;
  }
  
  .category-link {
    text-decoration: none;
  }
  
  .category-card {
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .category-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .category-image {
    width: 150px;
    height: 100px;
    border-radius: 10px;
    transition: transform 0.3s;
  }
  
  .category-card:hover .category-image {
    transform: scale(1.1);
  }
  